@import "../../theme.scss";

.settings-item{
    text-align: left;
    border-bottom: 1px solid gray;
    margin: 20px;
    padding-bottom: 10px;

    p{
        font-size: 14px;
        font-weight: 600;
        margin: 10px 20px 10px 0px;
    }

    label{
        font-size: 12px;
        margin: 10px 20px 0 10px;
    }

    input{
        margin: 10px 0 10px 0;
    }
}