@import "../../theme.scss";

.settings-item{
    text-align: left;
    border-bottom: 1px solid gray;
    margin: 20px;
    padding-bottom: 10px;

    div{
        display: inline;
    }

    .settings-line{
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
    }

    p{
        font-size: 14px;
        font-weight: 600;
        margin: 10px 20px 10px 0px;
    }

    label{
        font-size: 14px;
        margin: 0 20px 3px 5px;
    }

    input{
        margin: 10px 0 10px 0;
    }

    button{
        font-size: 12px;
        padding: 10px;
        float: right;
    }

    @media (max-width: $break-mobile){
        div{
            display: block;
        }

        button{
            float: unset;
            margin-left: 85%;
        }

        label{
            font-size: 12px;
        }
    }
}