@import "../../theme.scss";

.select-wrapper{
    margin: auto;
    margin-right: 20px;
    margin-left: 30px;
    color: #202124;

    min-width: 72px;
    max-width: 124px;

    p{
        display: block;
        border: 1px solid $gray;
        background-color: $gray;
        color: $light;
        margin: 0;
        padding: 1px 5px;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        font-size: 11px;
    }

    .select {
        display: block;
        margin: auto;
        width: 100%;
        border: 1px solid #d1d2d3;
        border-radius: 0px 0px 5px 5px;
        cursor: pointer;
        outline: 0;
        overflow: hidden;
        padding: 5px 10px 5px 5px;
        font-size: 12px;
        text-overflow: ellipsis;
    }

    @media (max-width: $break-mobile){
        position: absolute;
        margin-right: 10px;
        margin-top: 10px;
        right: 0px;
    }
}
