@import "../../theme.scss";

.layout{
    height: 100%;
    background-color: $light;
    color: $text-dark;
    text-align: left;

    .back-arrow svg{
        padding: 3px;
        padding-right: 10px;
        font-size: 40px;
        margin-bottom: -5px;
        background-color: rgb(211, 211, 211);
        color: black;

        &:hover{
            background-color: $gray;
            color: white;
        }
    }

    @media (max-width: $break-mobile){

    }
}