@import "../../theme.scss";

.modalcontainer {
  min-height:100vh;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding-top: 100px;
  background-color:rgba(0,0,0,0.5);

  .modal {
    margin: auto;
    display:block;
    position:relative;
    width:600px;
    max-width: 90%;
    min-height:330px;
    max-height:80vh;
    background-color:#FFF;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }
  
    .content {
      text-align: left;

      label, input{
        margin: 10px;
      }

      .format-item-wrapper{
        padding:10px;
        border-top: 1px solid gray;
      }


    }

    .close {
      cursor:pointer;
      color:#FFF;
      width:50px;
      height:50px;
      text-align:center;
      line-height:50px;
      position:sticky;
      left:20px;
      color:#999;
      font-size:40px;
      
      span {
          transform:rotate(45deg);
          display:block;
      }
    }
  
    .buttons {
      cursor: pointer;
      width:100%;
      position:sticky;
      bottom:0;
      height:50px;
      
      span {
        width:50%;
        height:50px;
        line-height:50px;
        text-align:center;
        float:left;
        background-color:$gray;
        color:$light;
        transition:0.3s;
        text-transform:uppercase;
        font-weight:bold;
        &:hover {
          background-color:darken(#EEE,5%);
        }
        &:nth-of-type(2) {
          float:right;
          color:#FFF;
          background-color:$warning;
          &:hover {
            background-color:darken($gray,5%);
          }
        }
      }
    }
  }

  @media (max-width: $break-mobile){
    .modal{
      position: fixed;
      bottom: 0;
      width:100%;
      max-width: 100%;
      font-size:14px;

      animation-duration: 0.4s;
      animation-name: slidein;
    }
    
    @keyframes slidein {
      from {
        margin-bottom: -500px;
        width: 300%;
      }
    
      to {
        margin-bottom: 0%;
        width: 100%;
      }
    }
  }
}

