@import "../../theme.scss";

.vid-item{
  display: flex;
  height: 100px;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 5px;
  text-align: left;
    
  img{
    background-color: rgb(207, 207, 207);
    width: 150px;
    height: 100%;
  }

  @media (max-width: $break-mobile){
    font-size: 16px;
}
}