@import "../theme.scss";

.playlist{
    h1{
        color: $warning;
    } 

    button{
        background-color: $warning;
    }
}

.music{
    h1{
        color: #ff4949;
    } 

    button{
        background-color: #ff4949;
    }
}

.video{
    h1{
        color: #4b84ff;
    } 

    button{
        background-color: #4b84ff;
    }
}
