@import "../../theme.scss";

.lang-switch{ 
    cursor: pointer;
    width: 80px;
    text-align: center;

    span{
        border-radius: 3px;
        padding: 8px 13px;
        background-color: $light;

        &:hover{
            background-color: $gray;
            color: #fff;
        }
    }

    @media (max-width: $break-mobile){
       display: none;
    }
}