@import "../../theme.scss";

form{
    height: 30px;
    width: 100%;

    input{
        width: 60%;
        height: 100%;
        font-size: 14px;
        border-radius: 0.25rem 0 0 0.25rem ;
    }

    button{
        height: 100%;
        width: 45px;
        cursor: pointer;
        background-color: #FFC107;
        color: #fff;

        display: unset;
        font-weight: unset;
        text-align: unset;
        vertical-align: unset;
        padding: unset;
        font-size: unset;
        line-height: unset;
        margin: unset;
        
        border:1px solid transparent;
        border-radius: 0 0.25rem 0.25rem 0 ;
      
    }

    svg{
        display: inline-block;
        vertical-align: middle;
    }

    @media (max-width: $break-mobile){
        input{
            width: 80%;
        }
    }
}