@import "../../theme.scss";

#HEADER{
    min-height: 60px;
    background-color: $dark;
    padding: 5px 0px 0px 20px;
    
    .h1-link{
        flex: 2 2;
        margin: auto;
    }

    a{
        text-decoration: none;
    }

    @media (max-width: $break-mobile){
        height: auto;
        padding: 5px 10px 0 20px;

        .h1-link{
            margin-left: 0;
        }

        h1{
           font-size: 6.2vw;
        }
    }
}