@import "../../theme.scss";

.navbar{
    flex: 2 2 auto; 
    color: $light;
    font-size: 21px;
    text-align: right;
    height: 100%;

    a{
        text-decoration: none;
        color: $light;
        display: inline-block;
        margin-top: 3%;
        height: 100%;
        padding: 5px 20px;

        &:hover{
            background-color: $light;
            color: $dark;
        }
    }

    .active{
        background-color: $light;
        color: $dark;    
    }

    @media (max-width: $break-mobile){
        font-size: 3.6vw;
        margin-top: 20px;
    }
}