@import "../../theme.scss";

.navbar{
    flex: 2 2;
    margin: auto; 
    color: $light;
    font-size: 21px;
    text-align: right;
    height: 100%;

    a{
        text-decoration: none;
        color: $light;
        padding: 0px 20px;

        svg{
            border-radius: 50%;
            margin-top: 5px;
            padding: 3px;
            font-size: 35px;

            &:hover{
                color: $dark;
                background-color: $light;  
            }
        }
    }

    .active{
        svg{
            background-color: $light;
            color: $dark; 
        }
    }

    @media (max-width: $break-mobile){
        flex: unset;
        font-size: 6.5vw;
        margin-top: 5px;
        width: 100%;
        text-align: left;

        svg{
            margin-top: 0px;
            margin-bottom: 5px;
        }
    }
}