@import "../../theme.scss";

.loaderLine {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.innerLoaderLine {
    height: 3px;
    width: 100%;
    background: #c00;
}

.innerLoaderLine:before {
    content: '';
    display: block;
    background-color: #ff4e45;
    height: 3px;
    width: 0;
    animation: getWidth 3s ease-in infinite;
}

@keyframes getWidth {
    100% { width: 100%; }
}